<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

  <!-- Define your beans here -->

  <bean id="appUserStorageImpl" class="se.ecutbildning.hala.data.AppUserStorageListImpl"/>

 <!-- <bean id="consoleCreateUserImpl" class="se.ecutbildning.hala.service.ConsoleCreateUserImpl">
    <constructor-arg ref="appUserStorageImpl"/>
  </bean>-->
  <bean id="consoleCreateUserImpl" class="se.ecutbildning.hala.service.ConsoleCreateUserImpl">
    <property name="appUserStorage" ref="appUserStorageImpl"/>
  </bean>

</beans>


